<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Amazon Regression Suite" parallel="tests" thread-count="2">
  <test name="Amazon Regression Test">
    <classes>
      <class name="tests.AmazonRegressionTests"/>
    </classes>
  </test>
</suite>
